.features {
  @include desktop {
    padding-bottom: 0;
  }

  &__list {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    @include desktop {
      display: flex;
      flex-wrap: nowrap;
      gap: 0;
      margin-left: -30px;
    }
  }

  &__item {
    &:not(:last-child) {
      @include tablet-max {
        margin-bottom: 30px;
      }
    }
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 120px) / 4);
      margin-left: 30px;
    }
  }

  &__box {
    margin-bottom: 30px;
    @include flex-align-justify;
    height: 120px;
    background-color: var(--overlay-background-color);
    border-radius: 4px;
  }

  &__title {
    margin-bottom: 10px;
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--title-text-color);
    @include tablet-max {
      text-align: center;
    }
  }
}
