.footer {
  padding: 60px 0px;
  background-color: var(--secondary-background-color);
  &__box {
    @include desktop {
      display: flex;
      align-items: baseline;
    }
  }
  &__tablet {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
    }
    @include desktop {
      display: flex;
      align-items: baseline;
      margin-bottom: 0;
    }
  }

  &__section {
    @include desktop-max {
      text-align: center;
    }
    @include tablet-max {
      margin-bottom: 60px;
    }
    @include desktop {
      margin-right: 70px;
    }
  }

  &__address {
    margin-top: 28px;
  }
  &__form {
    margin-left: auto;
  }
  &__text {
    margin-bottom: 20px;
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    color: var(--secondary-text-color);
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
}

.address {
  font-style: normal;
  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
  &__post {
    color: var(--secondary-text-color);
    @include font(400, 14px, 16px, 0.03em);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__contacts {
    color: var(--transparent-color);
    @include font(400, 14px, 16px, 0.03em);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.soc-media {
  &__text {
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    @include font(700, 14px, 16px, 0.03em);
    text-transform: uppercase;
    text-align: center;
    @include desktop {
      text-align: left;
    }
  }
}

.form {
  @include desktop {
    @include flex-align-justify;
  }
  &__input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 450px;
    width: 100%;
    padding: 15px 16px;
    @include font(400, 16px, 20px, 0.03em);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--secondary-background-color);
    color: rgba(255, 255, 255, 0.6);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    transition: border-color 250ms var(--timing-function);
    &:hover,
    &:focus {
      outline: none;
      border-color: var(--accent-color);
    }
    &::placeholder {
      @include font(400, 16px, 20px, 0.03em);
      color: rgba(255, 255, 255, 0.6);
    }
    @include desktop {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 12px;
      width: 358px;
    }
  }

  &__button {
    @include flex-align-justify;
    padding: 0;
    width: 200px;
    height: 50px;

    @include desktop-max {
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      display: inline-flex;
    }
  }

  &__item {
    top: 13px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--primary-background-color);
  }
}
