.logo {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: var(--secondary-font);
  color: var(--secondary-text-color);
  @include font(700, 24px, 28px, 0.03em);
  @include desktop {
    @include font(700, 26px, 31px, 0.03em);
  }
  &--inverse {
    color: var(--logo-color);
    @include desktop {
      margin-right: 93px;
    }
  }
  &__accent {
    color: var(--accent-color);
  }
}
