html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0px;
}
