:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --overlay-color: #eeeeee;
  --line-color: #ececec;
  --logo-color: #000000;
  --btn-color: #188ce8;
  --transparent-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --overlay-background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
